RewriteEngine On

# ---------------------------------------
# Forward Authorization header to PHP
# ---------------------------------------
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Si fichier ou dossier existe → ne pas toucher
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tout passe par index.php
RewriteRule ^ index.php [L]