# Ignore all files and directories
#*

# Include the "schematics" directory
#!htdocs/schematics

# Ignore dev
dev

# ignore the config textfile
config.txt

# ignore the TODO list
TODO.md


node_modules/
#/public/build/

.DS_Store