div.main-content{
    display: flex;
}

div.devis-container{
    display: flex;
    flex-direction: column;
    width: 70%;
}

div.devis-categ{
    display: flex;
}


div.devis-article{
    display: flex;
    align-items: center;
}

div.devis-ref{
    width: 15%;
}

div.devis-label{
    width: 60%;
}
div.devis-prix{
    width: 15%;
}
div.devis-edit{
    width: 10%;
}

div.devis-edit{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

/* div.devis-edit > button{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

div.devis-edit div{
    display: flex;
    flex-direction: column;
}



/*==============================================================================
                                        MODAL                                                                        
==============================================================================*/

/* Le conteneur de la modale, invisible au départ */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
  display: none; /* cachée */
  justify-content: center;
  align-items: center;
}

/* Contenu de la modale */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: min-content;
}



.breadcrumb a + a::before {
    content: " / ";
}


table.modal-articles {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-collapse: collapse;
    width: max-content;
}

table.modal-articles td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.modal-articles tr:nth-child(even){background-color: #f2f2f2;}

table.modal-articles tr:hover {background-color: #ddd;}

table.modal-articles th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

