div#main-content{
    display: flex;
}

#editable-devis{
    width: 70%;
    margin: 1em;
    background-color: white;
    padding: 1em;
    font-size: smaller;
}

/*==============================================================================
                    rules for the header of the devis                                                                        
==============================================================================*/
.devis-header{
    margin-bottom: 1em;
}

.devis-header > div{
    display: flex;
    justify-content: space-between;
}

.devis-header > div > *{
    flex: 1;
}

.devis-header table{
    border-collapse: collapse;
    width: 100%;
}

.devis-header table td,
.devis-header table th{
    border: 1px solid black;
    text-align: center;
}

/*==============================================================================
rules for the class : articles-table used in for the devis and
in the modal window when you select an article                                                                          
==============================================================================*/
table.articles-table{
    border-collapse: collapse;
    border: 1px solid black;
}

table.articles-table thead{
    border: 1px solid black;
}

table.articles-table thead th{
    text-align: center;
    background-color: darkgray;
}

table.articles-table td,
table.articles-table th{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0.5em 0.4em 0.5em 0.4em;
    text-align: start;

}

table.articles-table td:nth-child(3) {
    text-align: right;
}

/*==============================================================================
                            rules for editable devis                                                                       
==============================================================================*/

#editable-devis textarea{
    width: 100%;
    height: 100%;   
    box-sizing: border-box; /* important */
    padding: 0;             /* optionnel */
    margin: 0;              /* optionnel */
    border: none;           /* si tu veux qu’il colle vraiment aux bords */
    resize: none; 
}


#editable-devis .devis-body{
    width: 100%;
}

#editable-devis .devis-body td:nth-child(2){
    width: 55%;
}

#editable-devis .devis-body .add-buttons{
    text-align: center;
}

#editable-devis .devis-body .add-buttons button{
    width: 20%;
    margin: 0 1em;
}


#editable-devis .devis-body input[type="number"]{
    width: 4em;
}

#editable-devis .devis-body input[type="number"].remise{
    width: 3em;
}

#editable-devis .devis-body input[type="text"]{
    width: 100%;
}

td:has(.devis-edit) {
    padding: 0 !important;
}
/* Display flex the edit section */
div.devis-edit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Set the column for the div of up down buttons */
div.devis-edit div{
    display: flex;
    flex-direction: column;
}

/* Set the size for the up and down button */
div.devis-edit div > button{
    height: 13px;         
    width: 26px;          
    padding: 0;
    display: flex;             
    justify-content: center;   
    align-items: center;       
}

/* Set the size for the edit and remove button */
div.devis-edit > button {
    height: 26px;         
    width: 26px;          
    padding: 0;           
}

/* Center the add button */
#editable-devis table.devis-body td[colspan="5"]{
    text-align: center;
    gap: 1em;
}

/* increase the width of the add button */
#editable-devis table.devis-body td[colspan="5"] button{
    width: 25%;
    margin: 0 0.5em;
}


/*==============================================================================
                            RULES OF MODAL                                                                        
==============================================================================*/

/* Le conteneur de la modale, invisible au départ */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
  display: none; /* cachée */
  justify-content: center;
  align-items: center;
}

/* Contenu de la modale */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: min-content;
}

.breadcrumb {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 1em;
}

.breadcrumb a + a::before {
    content: " / ";
}

div.modal-categorie {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

div.modal-content button{
    width: 25vw;
    padding: 0.8em;
    cursor: pointer;

    /* Retirer le style bouton */
    background: none;
    border: none;
    text-align: left;

    /* Aspect liste */
    border-radius: 6px;
    background-color: #ededed;
    transition: 0.2s;
}

/* Hover */
div.modal-content button:hover {
    background-color: #EAF205;
}

/* Focus (accessibilité) */
div.modal-content button:focus {
    outline: 3px solid #bcd4ff;
}


.modal-content div.table-scroll{
    max-height: 60vh;
    overflow-y: auto;    /* scroll vertical */
    overflow-x: hidden;  /* pas de scroll horizontal */
}

.modal-content table.articles-table {
    width: 50vw;
}

/* sticky thead */
.modal-content div.table-scroll thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.modal-content table.articles-table tr{
    transition: 0.2s;
}

.modal-content table.articles-table tr:hover {
    background-color: #EAF205;
    cursor: pointer;
}





