html{
  font-family: 'Roboto',sans-serif;
  color: black;
}

body{
    margin: 0;
    background-color: #ededed;
}

main{
  padding: 2em;
}

aside{
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    padding: 2em;
    gap: 1em;
}

aside button{
    border: none;
    outline: none;
    background-color:#EAF205;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: large;
    cursor: pointer;
    transition: 0.2s;
} 

aside button:not(:disabled):hover{
    transform: translateY(-2px);
    opacity: 0.5;
}

/* Disabled state */
aside button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
}