name: Deploy to Gandi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          ssh-keyscan ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_rsa

      - name: Add Remote
        run: git remote add gandi git+ssh://${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}/www.solisart.fr.git || true

      - name: Push to Gandi
        run: git push gandi main -f
      - name: Deploy on Gandi
        run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} deploy www.solisart.fr.git
